:root {
	--container-width: 1500px;
	--container-padding: 50px;

	--font-family: 'Akrobat', sans-serif;
	--second-family: 'Open Sans', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #e2e2e2;
	--text-color: #000;
	--link-color: #00806b;
	--white-color: #ffffff;


    // --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
}
