.table__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px;
  padding-left: 4px;
  background-color: var(--white-color);
}

.table__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 10px;
  text-wrap: pretty;
  text-align: left;
  color: #000;

  &:nth-child(1),
  td {
    min-width: 74px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(2),
  td {
    min-width: 55px;
  }
  &:nth-child(3),
  td {
    min-width: 103px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(4),
  td {
    min-width: 76px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(5),
  td {
    min-width: 76px;
  }
  &:nth-child(6),
  td {
    min-width: 74px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(7),
  td {
    min-width: 78px;
  }
  &:nth-child(8),
  td {
    min-width: 48px;
  }
  &:nth-child(9),
  td {
    min-width: 53px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(10),
  td {
    min-width: 57px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(11),
  td {
    min-width: 54px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(12),
  td {
    min-width: 60px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(13),
  td {
    min-width: 60px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(14),
  td {
    min-width: 89px;
  }
  &:nth-child(15),
  td {
    min-width: 81px;
  }
  &:nth-child(16),
  td {
    min-width: 71px;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
      background-image: url("../../img/svg/filter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &:nth-child(17),
  td {
    min-width: 60px;
  }
  &:nth-child(18),
  td {
    min-width: 150px;
  }
}

.custom-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.maxWidth {
  min-width: 176px;
}

.custom-table thead {
  background-color: var(--white-color);
}

.custom-table thead th {
  padding: 3px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 10px;
  text-wrap: pretty;
  text-align: left;
  color: #000;
  border: 1px solid transparent;
  border-bottom: 1px solid #e0e0e0;
}

.custom-table tbody td {
  padding: 10px 8px;
  border-right: 1px solid var(--page-bg);
  border-left: 1px solid var(--page-bg);
  border-top: 4px solid var(--page-bg);
  border-bottom: 4px solid var(--page-bg);
  background-color: var(--white-color);
}
